.action {
  background-color: #d8d8d8;
  font-size: 16px;
  height: 32px;
  width: 32px;

  border-radius: 50%;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 25px;
  position: relative;
  transition: all 0.8s ease;
}
.action {
  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: all 0.8s ease;
  }

  &:before {
    height: 1em;
    width: 0.2em;
    background-color: green;
  }
  &:after {
    height: 0.2em;
    width: 1em;
    background-color: green;
  }
}

.action-remove {
  background-color: white;
  transition: all 0.8s ease;
  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: rgb(196, 14, 14);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(-135deg);
    background-color: rgb(196, 14, 14);
  }
}
