.arrow {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $color-blue;

    justify-self: right;
    height: 0;
    width: 0;
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.arrow-closed {
    transform: rotate(180deg);
}