.library-course {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 50px 1fr;
    background: cornflowerblue;

    &__title-check {
        grid-row: 1/2;
        display: flex;
        flex-direction: row;
    }
    &__arrow {
        grid-row: 1/2;
    }
    &__action {
        grid-row: 1/2;
    }
    &__description {
        grid-row: 2/3;
    }
}