$color-purple: #6F48CE;
$color-light-blue: rgb(50, 115, 235);
$color-blue: #487bce;
$color-gray: #4d4d4d;
$color-grad: #2d0a66;
$color-grayish: rgba(255, 255, 255, 0.52);
$color-blackish: #333;

$font-alegreya: 'Alegreya';
$font-mont: 'Montserrat';
$font-lato: 'Lato';